<div id="user" class="mx-auto my-2 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 user_img">
                <div >
                    <img src={{userObj.imagePath}} alt="user-img" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 user_info">
                <span class="user_info-name d-block">Name : {{userObj.name}}</span>
                <span class="user_info-code d-block">Code : {{userObj.id}}</span>
            </div>
        </div>
    </div>
</div>

